<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="34027JosephSauve.Acquaint.XForms" Publisher="CN=66980121-9AD0-4799-8E92-0D475D08BFB6" Version="1.51.0.0" />
  <mp:PhoneIdentity PhoneProductId="0c771ca9-b454-4d49-abad-5a3ece1eb5f4" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Acquaint.XForms</DisplayName>
    <PublisherDisplayName>Joseph Sauve</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Acquaint.XForms.UWP.App">
      <uap:VisualElements DisplayName="Acquaint.XForms" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="A simple Xamarin app called Acquaint. This is the Xamarin.Forms version of Acquaint. It's a simple list of contacts, with detail and edit screens." BackgroundColor="transparent">
        <uap:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="Acquaint XF" Square310x310Logo="Assets\Square310x310Logo.png" Square71x71Logo="Assets\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#9cc1d4" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>