<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.xamarin.acquaintforms" android:versionCode="157" android:versionName="1.57">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.BATTERY_STATS" />
	<uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<application android:label="Acquaint XF" android:theme="@style/AcquaintTheme">
		<activity android:name="com.microsoft.identity.client.BrowserTabActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:host="auth" android:scheme="msale2a89d4b-929c-4936-9b70-e33ace1ac02c" />
			</intent-filter>
		</activity>
		<!-- Put your Google Maps V2 API Key here. -->
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyB9kZU_zfTpbAV9MPb1GSCJeF93yAElvw4" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>